.nav-item {
    padding: 0 15px;
}

.navbar {
    background-color: rgb(6, 100, 100) !important;
    color: white;
}

.nav-item a {
    color: white !important;
}

.navbar a{
    color: white;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 50px !important;
}

.navbar-brand {
    margin-left: 42px;
}

.photo img {
    max-width: 250px;
    border-radius: 10px;
}

.intro-copy p {
    margin-top: 35px;
}

.intro-group {
    margin-top: 15px;
}

#hero-bg {
    background-image: url(../images/bg-image.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    background-color: rgb(6, 100, 100);
    border-color: rgb(6, 100, 100);
    max-width: 120px;
}

.btn:hover {
    background-color: rgb(3, 43, 43);
    color: white;
    border-color: rgb(3, 43, 43);
}

#work {
    /* margin-top: 0; */
}
.section-heading {
    margin-top: 70px;
}

.section-heading h2 {
   text-align: center;
  }

.content {
    margin: 30px 0px;
}

.card {
    margin: 0 10px;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.skill-section {
    background-color: rgb(6, 100, 100);
    color: white;
    padding: 70px 0;
    height: 550px;
}

.skill-section h2 {
    margin-top: 10px;
}

.skill-section p {
    width: 75%;
    margin: 25px auto;
}

.skill-list li {
    margin-bottom: 10px;
    color: aqua;
}

.text-list ul {
    list-style-type: none;
}

.text-list {
    text-align: center;
    margin-top: 50px;
}



/* h1, h2, p {
    color: rgb(6, 100, 100);
} */